---
import { BaseLayout } from "@layouts";
import {
  AboutSection,
  CtaBanner,
  HeroSection,
  MarqueeStrip,
  ServicesSection,
  SiteFooter,
  SiteHeader,
  TeamSection,
  TestimonialsSection,
  WorkSection,
} from "@components";
import { PAGE_META } from "@config";
---

<BaseLayout meta={PAGE_META.home}>
  <SiteHeader />
  <main>
    <HeroSection />
    <MarqueeStrip />
    <AboutSection />
    <ServicesSection />
    <WorkSection />
    <TeamSection />
    <TestimonialsSection />
    <CtaBanner />
  </main>
  <SiteFooter />
</BaseLayout>
